<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.agenda.smart.technicalsupport">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/smart_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/smart_logo"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <activity
            android:name=".views.LoginOrRegisterActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.ProblemsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ChooseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ProductsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ProblemDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.AddProblemActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ProductDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.RegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.agenda.smart.technicalsupport"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".views.ContactUsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.UserOrdersActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.UserProblemsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ReplyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ProductImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.OurCustomersActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>